.content {
    margin: 20px 0px 0px 20px;
    overflow: hidden;
}

.content .field,.content .field-bt {
    float:left;
}

.field {
    width: 500px;
    height: 500px;
    background-color: #8DD4FE;
    border: 2px solid #000106;
    position: relative;
    overflow: hidden;
}

.field-bt {
    width: 200px;
    padding-left:20px;
}

.new-dot,.dot-check {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top:10px;
    display: block;
    color: white;
    font-size: 20px;
}

.new-dot {
    background-color: #606060;
}

.dot-check {
    background-color: #0F5428;
    margin-top: 20px;
}

.new-dot:hover,.dot-check:hover,.new-dot:active,.dot-check:active,.new-dot:focus,.dot-check:focus {
    color: white;
    text-decoration: none;
}
.circle {
    border-radius: 50%;
    position: absolute;
}